@model IEnumerable<DataBase_RH_BanderaBlanca.Models.Planilla>

@{
    ViewBag.Title = "Index";
    DataBase_RH_BanderaBlanca.Models.Persona user = new DataBase_RH_BanderaBlanca.Models.Persona();
    user = (DataBase_RH_BanderaBlanca.Models.Persona)Session["user"];
}


<div class="row">
    <div class="col-12 col-lg-12 col-xxl-12 d-flex">
        <div class="card flex-fill">
            <div class="card-header">
                <h5 class="card-title mb-0">Gestión de Planillas</h5>
            </div>

            <!-- Ajustamos el contenedor para que no quede pegado al borde inferior -->
            <div class="container mt-5 pb-5">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h2 class="mb-0">Planillas</h2>
                    <div class="ml-auto d-flex">
                        @using (Html.BeginForm("PagarPlanillas", "planillas", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            if (user.ObtenerIdsDeAccesos(user.listaAccesos).Contains(8)) // Solo muestra los botones si el idEstado es 3
                            {
                                <button type="submit" class="btn btn-primary m-2">Generar Planillas</button>
                            }
                        }
                        @using (Html.BeginForm("RegenerarPlanillas", "planillas", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            if (user.ObtenerIdsDeAccesos(user.listaAccesos).Contains(8)) // Solo muestra los botones si el idEstado es 3
                            {
                                <button type="submit" class="btn btn-warning m-2">Recalcular Planillas</button>
                            }
                        }
                        @using (Html.BeginForm("AprobarPlanillas", "planillas", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            if (user.ObtenerIdsDeAccesos(user.listaAccesos).Contains(6)) // Solo muestra los botones si el idEstado es 3
                            {
                                <button type="submit" class="btn btn-success m-2">Aprobar Planillas</button>
                            }
                        }
                    </div>
                </div>




                <div class="table-responsive">
                    <table class="table my-0 table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th>Sucursales</th>
                                <th>Colaborador</th>
                                <th>Fecha de Planilla</th>
                                <th>Comentario</th>
                                <th>Salario Laboral</th>
                                <th>Total Horas Extras</th>
                                <th>Total Incapacidades</th>
                                <th>Descuento por Renta</th>
                                <th>Total Deducciones</th>
                                <th>Total Planilla</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.sucursales.Nombre_Sucursal)</td>
                                    <td>@Html.DisplayFor(modelItem => item.personas.Nombre) @Html.DisplayFor(modelItem => item.personas.Primer_Apellido) @Html.DisplayFor(modelItem => item.personas.Segundo_Apellido)</td>
                                    <td>@Html.DisplayFor(modelItem => item.planillas.Fecha_Planilla)</td>
                                    <td>@Html.DisplayFor(modelItem => item.planillas.Comentario_Planilla)</td>
                                    <td>@Html.DisplayFor(modelItem => item.empleados.puestos_laborales.Salario_Puesto)</td>
                                    <td>@Html.DisplayFor(modelItem => item.detalle_planillas.Monto_Total_Horas_Extras)</td>
                                    <td>@Html.DisplayFor(modelItem => item.detalle_planillas.Monto_Total_Incapacidades)</td>
                                    <td>@Html.DisplayFor(modelItem => item.detalle_planillas.Monto_Descontado_Renta)</td>
                                    <td>@Html.DisplayFor(modelItem => item.detalle_planillas.Monto_Total_Deducciones)</td>
                                    <td>@Html.DisplayFor(modelItem => item.detalle_planillas.Monto_Total_Planilla)</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.planillas.estados_solicitudes.Estados_Solicitud)
                                        @if (item.planillas.idEstados_Solicitudes == 5)
                                        {
                                            <span class="text-danger ms-2">
                                                <i class="bi bi-exclamation-triangle"></i>
                                            </span>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
