@model IEnumerable<DataBase_RH_BanderaBlanca.Models.catalogo_incapacidades>

@{
    ViewBag.Title = "Gestión de Catálogo de Incapacidades";
}

<div class="row">
    <div class="col-12 col-lg-12 col-xxl-12 d-flex">
        <div class="card flex-fill">
            <div class="card-header">
                <h5 class="card-title mb-0">Catálogo de Incapacidades</h5>
            </div>

            <!-- Contenedor principal -->
            <div class="container mt-4 pb-5">

                <!-- Encabezado con botón para crear -->
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h2 class="mb-0">Lista de Incapacidades</h2>
                    <a href="@Url.Action("Create")" class="btn btn-success">Crear Nueva Incapacidad</a>
                </div>

                <!-- Tabla responsiva -->
                <div class="table-responsive">
                    <table class="table my-0 table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Descripcion)</th>
                                <th>@Html.DisplayNameFor(model => model.Porcentaje_Deduccion)</th>
                                <th class="text-right">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Porcentaje_Deduccion)</td>
                                    <td class="text-right">
                                        @Html.ActionLink("Editar", "Edit", new { id = item.idCatalogo_Incapacidad }, new { @class = "btn btn-primary btn-sm" }) |
                                        @Html.ActionLink("Detalles", "Details", new { id = item.idCatalogo_Incapacidad }, new { @class = "btn btn-info btn-sm" }) |
                                        @Html.ActionLink("Eliminar", "Delete", new { id = item.idCatalogo_Incapacidad }, new { @class = "btn btn-danger btn-sm" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
