@model IEnumerable<DataBase_RH_BanderaBlanca.Models.catalogo_incapacidades>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Porcentaje_Deduccion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Porcentaje_Deduccion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idCatalogo_Incapacidad }) |
            @Html.ActionLink("Details", "Details", new { id=item.idCatalogo_Incapacidad }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idCatalogo_Incapacidad })
        </td>
    </tr>
}

</table>
