@model DataBase_RH_BanderaBlanca.Models.horas_extras

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>horas_extras</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Fecha_HoraExtra)

    @Html.HiddenFor(model => model.idEmpleado)

    @Html.HiddenFor(model => model.Cantidad_Horas)

    @Html.HiddenFor(model => model.Detalle_Hora_Extra)

    @Html.HiddenFor(model => model.Monto_HoraExtra)

    @Html.HiddenFor(model => model.hizoHoras)

    <div class="form-group">
        @Html.LabelFor(model => model.idCatalogo_Horas_Extras, "idCatalogo_Horas_Extras", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("idCatalogo_Horas_Extras", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.idCatalogo_Horas_Extras, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.observacion, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.observacion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.observacion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.aprobada, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.aprobada)
                @Html.ValidationMessageFor(model => model.aprobada, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
