@model IEnumerable<DataBase_RH_BanderaBlanca.Models.Hora_Extra>

@{
    ViewBag.Title = "Gestión de Horas Extras";
}

<div class="row">
    <div class="col-12 col-lg-12 col-xxl-12 d-flex">
        <div class="card flex-fill">
            <div class="card-header">
                <h5 class="card-title mb-0">Horas Extras</h5>
            </div>

            <!-- Contenedor principal -->
            <div class="container mt-4 pb-5">

                <!-- Encabezado con botón para crear -->
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h2 class="mb-0">Lista de Horas Extras</h2>
                    <a href="@Url.Action("Create")" class="btn btn-success">Crear Nueva Hora Extra</a>
                </div>

                <!-- Tabla responsiva -->
                <div class="table-responsive">
                    <table class="table my-0 table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th>Colaborador</th>
                                <th>Cantidad de Horas</th>
                                <th>Detalle de Hora Extra</th>
                                <th>Monto de Hora Extra</th>
                                <th>Observaciones</th>
                                <th>Aprobado</th>
                                <th>Realizo las horas</th>
                                <th>Tipo de Hora Extra</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.personas.Nombre) @Html.DisplayFor(modelItem => item.personas.Primer_Apellido) @Html.DisplayFor(modelItem => item.personas.Segundo_Apellido)</td>
                                    <td>@Html.DisplayFor(modelItem => item.horas_extras.Cantidad_Horas)</td>
                                    <td>@Html.DisplayFor(modelItem => item.horas_extras.Detalle_Hora_Extra)</td>
                                    <td>@Html.DisplayFor(modelItem => item.horas_extras.Monto_HoraExtra)</td>
                                    <td>@Html.DisplayFor(modelItem => item.horas_extras.Observacion)</td>
                                    <td>@Html.DisplayFor(modelItem => item.horas_extras.Aprobada)</td>
                                    <td>@Html.DisplayFor(modelItem => item.horas_extras.HizoHoras)</td>
                                    <td>@Html.DisplayFor(modelItem => item.horas_extras.catalogo_horas_extras.Tipo_Hora_Extra)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
