@model IEnumerable<DataBase_RH_BanderaBlanca.Models.Persona>

@{
    ViewBag.Title = "Usuarios del Sistema";
}

<div class="row">
    <div class="col-12 col-lg-12 col-xxl-12 d-flex">
        <div class="card flex-fill">
            <div class="card-header">
                <h5 class="card-title mb-0">Personas</h5>
            </div>

            <!-- Contenedor principal -->
            <div class="container mt-4 pb-5">

                <!-- Encabezado con botón para crear -->
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h2 class="mb-0">Lista de Personas</h2>
                    <a href="@Url.Action("Create")" class="btn btn-success">Crear Nueva Persona</a>
                </div>

                <!-- Tabla responsiva -->
                <div class="table-responsive">
                    <table class="table my-0 table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.personas.Identificador)</th>
                                <th>@Html.DisplayNameFor(model => model.personas.Nombre)</th>
                                <th>@Html.DisplayNameFor(model => model.personas.Primer_Apellido)</th>
                                <th>@Html.DisplayNameFor(model => model.personas.Segundo_Apellido)</th>
                                <th>@Html.DisplayNameFor(model => model.personas.Fecha_Nacimiento)</th>
                                <th>@Html.DisplayNameFor(model => model.empleados.puestos_laborales.Nombre_Puesto)</th>
                                <th>@Html.DisplayNameFor(model => model.correos.Direccion_Correo)</th>
                                <th class="text-right">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.personas.Identificador)</td>
                                    <td>@Html.DisplayFor(modelItem => item.personas.Nombre)</td>
                                    <td>@Html.DisplayFor(modelItem => item.personas.Primer_Apellido)</td>
                                    <td>@Html.DisplayFor(modelItem => item.personas.Segundo_Apellido)</td>
                                    <td>@Html.DisplayFor(modelItem => item.personas.Fecha_Nacimiento)</td>
                                    <td>@Html.DisplayFor(modelItem => item.empleados.puestos_laborales.Nombre_Puesto)</td>
                                    <td>@Html.DisplayFor(modelItem => item.correos.Direccion_Correo)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Credenciales de Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalContent">
                <div class="row">
                    <div class="col-md-6 text-center">
                        @if (ViewBag.QrCodeImage != null)
                        {
                            <img src="@ViewBag.QrCodeImage" alt="Código QR" class="img-fluid" style="max-width: 80%; height: auto;" />
                        }
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            @if (ViewBag.Usuario != null)
                            {
                                <label for="usuario" class="form-label">Usuario:</label>
                                <input type="text" class="form-control" id="usuario" value="@ViewBag.Usuario" readonly />
                            }

                        </div>
                        <div class="mb-3">
                            @if (ViewBag.Contrasena != null)
                            {
                                <label for="contrasena" class="form-label">Contraseña:</label>
                                <input type="text" class="form-control" id="contrasena" value="@ViewBag.Contrasena" readonly />
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button id="downloadImage" class="btn btn-primary">Descargar como Imagen</button>
                <button id="sendEmail" class="btn btn-success">Enviar por Correo</button> <!-- Botón para enviar por correo -->
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/html-to-image@1.11.8/dist/html-to-image.min.js"></script>

    <script>
    $(document).ready(function () {
        var qrCodeImage = "@ViewBag.QrCodeImage";
        var usuario = "@ViewBag.Usuario";
        var contrasena = "@ViewBag.Contrasena";

        if (qrCodeImage && usuario && contrasena) {
            // Mostrar el modal si los valores están presentes
            $('#errorModal').modal('show');
        }

        // Descargar como imagen
        $('#downloadImage').click(function () {
            console.log("Descargar imagen clickeado");
            htmlToImage.toPng(document.getElementById('modalContent'))
                .then(function (dataUrl) {
                    let link = document.createElement('a');
                    link.download = 'credenciales.jpg';
                    link.href = dataUrl;
                    link.click();
                })
                .catch(function (error) {
                    console.error('Error al generar la imagen:', error);
                });
        });

        // Enviar la imagen por correo
        $('#sendEmail').click(function () {
            console.log("Enviar Correo clickeado");
            htmlToImage.toPng(document.getElementById('modalContent'))
                .then(function (dataUrl) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("EnviarEmail", "Email")',
                        data: {
                            image: dataUrl,
                            usuario: $('#usuario').val(),
                            contrasena: $('#contrasena').val()
                        },
                        success: function (response) {
                            alert('Correo enviado exitosamente');
                        },
                        error: function (error) {
                            alert('Error al enviar el correo');
                        }
                    });
                })
                .catch(function (error) {
                    console.error('Error al capturar la imagen para correo:', error);
                });
        });
    });
    </script>

}