@model IEnumerable<DataBase_RH_BanderaBlanca.Models.catalogo_identificador>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion_Identificador)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion_Identificador)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idCatalogo_Identificador }) |
            @Html.ActionLink("Details", "Details", new { id=item.idCatalogo_Identificador }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idCatalogo_Identificador })
        </td>
    </tr>
}

</table>
