@model DataBase_RH_BanderaBlanca.Models.catalogo_horas_extras

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>catalogo_horas_extras</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Hora_Extra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Hora_Extra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Porcentaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Porcentaje)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idCatalogo_Horas_Extras }) |
    @Html.ActionLink("Back to List", "Index")
</p>
