@model IEnumerable<DataBase_RH_BanderaBlanca.Models.vacaciones>

@{
    ViewBag.Title = "Index";
    DataBase_RH_BanderaBlanca.Models.Persona user = new DataBase_RH_BanderaBlanca.Models.Persona();
    user = (DataBase_RH_BanderaBlanca.Models.Persona)Session["user"];
}

<div class="row">
    <div class="col-12 col-lg-12 col-xxl-12 d-flex">
        <div class="card flex-fill">
            <div class="card-header">
                <h5 class="card-title mb-0">Solicitudes de Vacaciones</h5>
            </div>

            <!-- Ajustamos el contenedor para que no quede pegado al borde inferior -->
            <div class="container mt-5 pb-5">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h2 class="mb-0">Vacaciones</h2>
                </div>

                <div class="table-responsive">
                    <table class="table my-0 table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th>Empleado</th>
                                <th>@Html.DisplayNameFor(model => model.Cantidad_Dias)</th>
                                <th>@Html.DisplayNameFor(model => model.Fecha_Solicitud)</th>
                                <th>@Html.DisplayNameFor(model => model.Observacion)</th>
                                <th>@Html.DisplayNameFor(model => model.estados_solicitudes.Estados_Solicitud)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.idEmpleado)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Cantidad_Dias)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Fecha_Solicitud)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Observacion)</td>
                                    <td>@Html.DisplayFor(modelItem => item.estados_solicitudes.Estados_Solicitud)</td>
                                    @if ((item.estados_solicitudes.idEstados_Solicitudes == 3) && user.ObtenerIdsDeAccesos(user.listaAccesos).Contains(4)) // Solo muestra los botones si el idEstado es 3
                                    {
                                        <td class="text-right">
                                            @Html.ActionLink("Editar", "Edit", new { date = item.Fecha_Inicio, idEmpleado = item.idEmpleado }, new { @class = "btn btn-primary btn-sm" })
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="text-right">
                                           Accion no disponible
                                        </td>
                                    }

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
