@model IEnumerable<DataBase_RH_BanderaBlanca.Models.Permiso>

@{
    ViewBag.Title = "Gestión de Permisos Solicitados";
    DataBase_RH_BanderaBlanca.Models.Persona user = new DataBase_RH_BanderaBlanca.Models.Persona();
    user = (DataBase_RH_BanderaBlanca.Models.Persona)Session["user"];
}

<div class="row">
    <div class="col-12 col-lg-12 col-xxl-12 d-flex">
        <div class="card flex-fill">
            <div class="card-header">
                <h5 class="card-title mb-0">Permisos Solicitados</h5>
            </div>

            <!-- Contenedor principal -->
            <div class="container mt-4 pb-5">

                <!-- Encabezado con botón para crear -->
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h2 class="mb-0">Lista de Permisos</h2>
                </div>

                <!-- Tabla responsiva -->
                <div class="table-responsive">
                    <table class="table my-0 table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th>Colaborador</th>
                                <th>Detalle del Permiso</th>
                                <th>Fecha de Solicitud</th>
                                <th>Cantidad de Horas</th>
                                <th>Observaciones</th>
                                <th>Estado</th>
                                <th class="text-right">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.personas.Nombre) @Html.DisplayFor(modelItem => item.personas.Primer_Apellido) @Html.DisplayFor(modelItem => item.personas.Segundo_Apellido)</td>
                                    <td>@Html.DisplayFor(modelItem => item.permisos_Solicitados.Detalle_Permiso)</td>
                                    <td>@Html.DisplayFor(modelItem => item.permisos_Solicitados.Fecha_Solicitud)</td>
                                    <td>@Html.DisplayFor(modelItem => item.permisos_Solicitados.Cantidad_Horas)</td>
                                    <td>@Html.DisplayFor(modelItem => item.permisos_Solicitados.Observacion)</td>
                                    <td>@Html.DisplayFor(modelItem => item.permisos_Solicitados.estados_solicitudes.Estados_Solicitud)</td>
                                    @if ((item.permisos_Solicitados.estados_solicitudes.idEstados_Solicitudes != 1 && item.permisos_Solicitados.estados_solicitudes.idEstados_Solicitudes != 2) && user.ObtenerIdsDeAccesos(user.listaAccesos).Contains(4)) // Solo muestra los botones si el idEstado es 3
                                    {
                                        <td class="text-right">
                                            @Html.ActionLink("Editar", "Edit", new { date = item.permisos_Solicitados.Fecha_Permiso, idEmpleado = item.permisos_Solicitados.idEmpleado }, new { @class = "btn btn-primary btn-sm" })
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="text-right">
                                            Opcion no disponible
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
