@model DataBase_RH_BanderaBlanca.Models.puestos_laborales

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>puestos_laborales</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Puesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Puesto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salario_Puesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salario_Puesto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idPuestos_Laboral }) |
    @Html.ActionLink("Back to List", "Index")
</p>
