@model IEnumerable<DataBase_RH_BanderaBlanca.Models.puestos_laborales>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_Puesto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salario_Puesto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_Puesto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salario_Puesto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idPuestos_Laboral }) |
            @Html.ActionLink("Details", "Details", new { id=item.idPuestos_Laboral }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idPuestos_Laboral })
        </td>
    </tr>
}

</table>
