@model DataBase_RH_BanderaBlanca.Models.incapacidades

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>incapacidades</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cantidad_Dias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad_Dias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monto_Deduccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto_Deduccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detalle_Incapacidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detalle_Incapacidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.catalogo_incapacidades.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.catalogo_incapacidades.Descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
