@model IEnumerable<DataBase_RH_BanderaBlanca.Models.incapacidades>

@{
    ViewBag.Title = "Gestion";
}

<h2>Gestion Personal de Incapacidades</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad_Dias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto_Deduccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detalle_Incapacidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.catalogo_incapacidades.Descripcion)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad_Dias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto_Deduccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detalle_Incapacidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.catalogo_incapacidades.Descripcion)
            </td>
        </tr>
    }

</table>
