@model IEnumerable<DataBase_RH_BanderaBlanca.Models.Aguinaldo>

@{
    ViewBag.Title = "Index";
    DataBase_RH_BanderaBlanca.Models.Persona user = new DataBase_RH_BanderaBlanca.Models.Persona();
    user = (DataBase_RH_BanderaBlanca.Models.Persona)Session["user"];
}

<div class="row">
    <div class="col-12 col-lg-12 col-xxl-12 d-flex">
        <div class="card flex-fill">
            <div class="card-header">
                <h5 class="card-title mb-0">Gestión de Aguinaldos</h5>
            </div>

            <!-- Ajustamos el contenedor para que no quede pegado al borde inferior -->
            <div class="container mt-5 pb-5">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h2 class="mb-0">Aguinaldos</h2>
                    @using (Html.BeginForm("PagarAguinaldos", "aguinaldos", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        if (user.ObtenerIdsDeAccesos(user.listaAccesos).Contains(8)) // Solo muestra los botones si el idEstado es 3
                        {
                            <button type="submit" class="btn btn-success">Generar Aguinaldos</button>
                        }
                    }
                </div>

                <div class="table-responsive">
                    <table class="table my-0 table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.aguinaldo.FechaAguinaldo)</th>
                                <th>Colaborador</th>
                                <th>@Html.DisplayNameFor(model => model.aguinaldo.Fecha_Inicial_Cobro)</th>
                                <th>@Html.DisplayNameFor(model => model.aguinaldo.Fecha_Final_Cobro)</th>
                                <th>@Html.DisplayNameFor(model => model.aguinaldo.Monto_Aguinaldo)</th>
                                <th>Tipo de Aguinaldo</th>
                                <th>@Html.DisplayNameFor(model => model.aguinaldo.estados_solicitudes.Estados_Solicitud)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.aguinaldo.FechaAguinaldo)</td>
                                    <td>@Html.DisplayFor(modelItem => item.personas.Nombre) @Html.DisplayFor(modelItem => item.personas.Primer_Apellido) @Html.DisplayFor(modelItem => item.personas.Segundo_Apellido)</td>
                                    <td>@Html.DisplayFor(modelItem => item.aguinaldo.Fecha_Inicial_Cobro)</td>
                                    <td>@Html.DisplayFor(modelItem => item.aguinaldo.Fecha_Final_Cobro)</td>
                                    <td>@Html.DisplayFor(modelItem => item.aguinaldo.Monto_Aguinaldo)</td>
                                    <td>@Html.DisplayFor(modelItem => item.aguinaldo.catalogo_aguinaldo.Descripcion)</td>
                                    <td>@Html.DisplayFor(modelItem => item.aguinaldo.estados_solicitudes.Estados_Solicitud)</td>
                                    @if ((item.aguinaldo.idEstados_Solicitudes != 1 && item.aguinaldo.idEstados_Solicitudes != 2) && user.ObtenerIdsDeAccesos(user.listaAccesos).Contains(6)) // Solo muestra los botones si el idEstado es 3
                                    {
                                        <!-- Botón para aprobar -->
                                        using (Html.BeginForm("UpdateEstado", "Aguinaldos", FormMethod.Post))
                                        {
                                            @Html.Hidden("id", item.aguinaldo.FechaAguinaldo) <!-- Id del registro de la liquidación -->
                                            @Html.Hidden("estado", 1) <!-- Estado 1 para aprobado -->
                                            @Html.Hidden("idEmpleado", item.aguinaldo.Empleados_idEmpleado)
                                            <td><button type="submit" class="btn btn-success">Aprobar</button></td>
                                        }

                                        <!-- Botón para rechazar -->
                                        using (Html.BeginForm("UpdateEstado", "Aguinaldos", FormMethod.Post))
                                        {
                                            @Html.Hidden("id", item.aguinaldo.FechaAguinaldo)
                                            @Html.Hidden("estado", 2) <!-- Estado 2 para rechazado -->
                                            @Html.Hidden("idEmpleado", item.aguinaldo.Empleados_idEmpleado)
                                            <td><button type="submit" class="btn btn-danger">Rechazar</button></td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Accion no disponible</td>

                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
