@model IEnumerable<DataBase_RH_BanderaBlanca.Models.Aguinaldo>

@{
    ViewBag.Title = "Index";
    DataBase_RH_BanderaBlanca.Models.Persona user = new DataBase_RH_BanderaBlanca.Models.Persona();
    user = (DataBase_RH_BanderaBlanca.Models.Persona)Session["user"];
}

<div class="row">
    <div class="col-12 col-lg-12 col-xxl-12 d-flex">
        <div class="card flex-fill">
            <div class="card-header">
                <h5 class="card-title mb-0">Gestión de Aguinaldos</h5>
            </div>

            <!-- Ajustamos el contenedor para que no quede pegado al borde inferior -->
            <div class="container mt-5 pb-5">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h2 class="mb-0">Aguinaldos</h2>
                    <div class="ml-auto d-flex">
                        @using (Html.BeginForm("PagarAguinaldos", "aguinaldos", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            if (user.ObtenerIdsDeAccesos(user.listaAccesos).Contains(8)) // Solo muestra los botones si el idEstado es 3
                            {
                                <button type="submit" class="btn btn-primary m-2">Generar Aguinaldos</button>
                            }
                        }
                        @using (Html.BeginForm("RegenerarAguinaldos", "aguinaldos", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            if (user.ObtenerIdsDeAccesos(user.listaAccesos).Contains(8)) // Solo muestra los botones si el idEstado es 3
                            {
                    <button type="submit" class="btn btn-warning m-2">Recalcular Aguinaldos</button>
                            }
                        }
                        @using (Html.BeginForm("AprobarAguinaldos", "aguinaldos", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            if (user.ObtenerIdsDeAccesos(user.listaAccesos).Contains(6)) // Solo muestra los botones si el idEstado es 3
                            {
                    <button type="submit" class="btn btn-success m-2">Aprobar Aguinaldos</button>
                            }
                        }
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table my-0 table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.aguinaldo.FechaAguinaldo)</th>
                                <th>Colaborador</th>
                                <th>@Html.DisplayNameFor(model => model.aguinaldo.Fecha_Inicial_Cobro)</th>
                                <th>@Html.DisplayNameFor(model => model.aguinaldo.Fecha_Final_Cobro)</th>
                                <th>@Html.DisplayNameFor(model => model.aguinaldo.Monto_Aguinaldo)</th>
                                <th>Tipo de Aguinaldo</th>
                                <th>@Html.DisplayNameFor(model => model.aguinaldo.estados_solicitudes.Estados_Solicitud)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.aguinaldo.FechaAguinaldo)</td>
                                    <td>@Html.DisplayFor(modelItem => item.personas.Nombre) @Html.DisplayFor(modelItem => item.personas.Primer_Apellido) @Html.DisplayFor(modelItem => item.personas.Segundo_Apellido)</td>
                                    <td>@Html.DisplayFor(modelItem => item.aguinaldo.Fecha_Inicial_Cobro)</td>
                                    <td>@Html.DisplayFor(modelItem => item.aguinaldo.Fecha_Final_Cobro)</td>
                                    <td>@Html.DisplayFor(modelItem => item.aguinaldo.Monto_Aguinaldo)</td>
                                    <td>@Html.DisplayFor(modelItem => item.aguinaldo.catalogo_aguinaldo.Descripcion)</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.aguinaldo.estados_solicitudes.Estados_Solicitud)
                                        @if (item.aguinaldo.idEstados_Solicitudes == 4)
                                        {
                                            <span class="text-success ms-2">
                                                <i class="bi bi-check"></i>
                                            </span>
                                        }
                                        @if (item.aguinaldo.idEstados_Solicitudes == 5)
                                        {
                                            <span class="text-danger ms-2">
                                                <i class="bi bi-exclamation-triangle"></i>
                                            </span>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
